<%#- SPDX-License-Identifier: Apache-2.0 -%>
<%- n = @listener['name'] -%>
filter_chains:
- filters:
  - name: envoy.filters.network.http_connection_manager
    typed_config:
      "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
      access_log:
      - filter:
          status_code_filter:
            comparison:
              op: "GE"
              value:
                default_value: 500
                runtime_key: <%= n %>_min_log_code
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.access_loggers.file.v3.FileAccessLog
          path: "/var/log/envoy/<%= n %>.log"
      stat_prefix: <%= n %>_egress
      http_filters:
      - name: envoy.filters.http.router
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
      route_config:
        <%- if @listener['xfp'] -%>
        request_headers_to_remove:
        - x-forwarded-proto
        request_headers_to_add:
        - header:
            key: "x-forwarded-proto"
            value: "<%= @listener['xfp'] %>"
        <%- end -%>
        name: <%= n %>_route
        virtual_hosts:
        - name: <%= n %>
          domains: ["*"]
          routes:
          - match:
              prefix: "/"
            route:
              <%- if @listener['http_host'] -%>
              host_rewrite_literal: <%= @listener['http_host'] %>
              <%- end -%>
              <%- if @listener['uses_ingress'] && !@listener['http_host'] -%>
              auto_host_rewrite: true
              <%- end -%>
              cluster: <%= @svc_name %>
              timeout: <%= @listener['timeout'] %>
              retry_policy:
              <%- @retry_policy.each do |k,v| -%>
                <%= k %>: <%= scope.call_function('to_json',[v]) %>
              <%- end -%>
