#####################################################################
#### THIS FILE IS MANAGED BY PUPPET
#### template('install_server/dhcp/dhcpd.conf.erb')
######################################################################

# DHCPd configuration file for Wikimedia server installations

# Define custom options
# Unless dhcpd needs to be aware of other networks for which is not authoritative
# it should work just having it here at the top of the file.
authoritative;

# RFC 4578, used mainly to detect UEFI vs. BIOS
option architecture-type code 93 = unsigned integer 16;

# syslinux/pxelinux
option space pxelinux;
option pxelinux.magic      code 208 = string;
option pxelinux.configfile code 209 = text;
option pxelinux.pathprefix code 210 = text;
option pxelinux.reboottime code 211 = unsigned integer 32;

# Network Zero-Touch Provisioning (ZTP) for Juniper
option space juniper;
option juniper.image-file-name         code 0 = text;
option juniper.config-file-name        code 1 = text;
option juniper.image-file-type         code 2 = text;
option juniper.transfer-mode           code 3 = text;
option juniper.alt-imagefile-name      code 4 = text;
option juniper.http-port               code 5 = text;

# Global behaviour
ddns-update-style none;
log-facility local0;

option domain-name-servers 10.3.0.1;

# for safety, leave this referring to a non-existent file
filename "nonexistent-file";

#
# codfw
#

group {
    next-server <%= @tftp_servers["codfw"] %>;

    # Public subnets
    group {
        option domain-name "wikimedia.org";
        option subnet-mask 255.255.255.224;

        # public1-a-codfw
        subnet 208.80.153.0 netmask 255.255.255.224 {
            option broadcast-address 208.80.153.31;
            option routers 208.80.153.1;
        }

        # public1-b-codfw
        subnet 208.80.153.32 netmask 255.255.255.224 {
            option broadcast-address 208.80.153.63;
            option routers 208.80.153.33;
        }

        # public1-c-codfw
        subnet 208.80.153.64 netmask 255.255.255.224 {
            option broadcast-address 208.80.153.95;
            option routers 208.80.153.65;
        }

        # public1-d-codfw
        subnet 208.80.153.96 netmask 255.255.255.224 {
            option broadcast-address 208.80.153.127;
            option routers 208.80.153.97;
        }
    }

    # Private subnets
    group {
        option domain-name "codfw.wmnet";
        option subnet-mask 255.255.252.0;

        # private1-a-codfw
        subnet 10.192.0.0 netmask 255.255.252.0 {
            option broadcast-address 10.192.3.255;
            option routers 10.192.0.1;
        }

        # private1-b-codfw
        subnet 10.192.16.0 netmask 255.255.252.0 {
            option broadcast-address 10.192.19.255;
            option routers 10.192.16.1;
        }

        # cloud-hosts1-codfw
        subnet 10.192.20.0 netmask 255.255.255.0 {
            option subnet-mask 255.255.255.0;
            option broadcast-address 10.192.20.255;
            option routers 10.192.20.1;
        }

        # private1-c-codfw
        subnet 10.192.32.0 netmask 255.255.252.0 {
            option broadcast-address 10.192.35.255;
            option routers 10.192.32.1;
        }

        # private1-d-codfw
        subnet 10.192.48.0 netmask 255.255.252.0 {
            option broadcast-address 10.192.51.255;
            option routers 10.192.48.1;
        }
    }
}
#
# eqiad
#

group {
    next-server <%= @tftp_servers["eqiad"] %>;

    # Public subnets
    group {
        option domain-name "wikimedia.org";
        option subnet-mask 255.255.255.192;


        # public1-a-eqiad
        subnet 208.80.154.0 netmask 255.255.255.192 {
            option broadcast-address 208.80.154.63;
            option routers 208.80.154.1;
        }

        # public1-b-eqiad
        subnet 208.80.154.128 netmask 255.255.255.192 {
            option broadcast-address 208.80.154.191;
            option routers 208.80.154.129;
        }

        # public1-c-eqiad
        subnet 208.80.154.64 netmask 255.255.255.192 {
            option broadcast-address 208.80.154.127;
            option routers 208.80.154.65;
        }

        # public1-d-eqiad
        subnet 208.80.155.96 netmask 255.255.255.224 {
            option subnet-mask 255.255.255.224;
            option broadcast-address 208.80.155.127;
            option routers 208.80.155.97;
        }

        # sandbox1-b-eqiad
        subnet 208.80.155.64 netmask 255.255.255.240 {
            option subnet-mask 255.255.255.240;
            option broadcast-address 208.80.155.79;
            option routers 208.80.155.65;
        }

    }

    # Private subnets
    group {
        option domain-name "eqiad.wmnet";

        group {
            option subnet-mask 255.255.252.0;

            # private1-a-eqiad
            subnet 10.64.0.0 netmask 255.255.252.0 {
                option broadcast-address 10.64.3.255;
                option routers 10.64.0.1;
            }

            # private1-b-eqiad
            subnet 10.64.16.0 netmask 255.255.252.0 {
                option broadcast-address 10.64.19.255;
                option routers 10.64.16.1;
            }

            # private1-c-eqiad
            subnet 10.64.32.0 netmask 255.255.252.0 {
                option broadcast-address 10.64.35.255;
                option routers 10.64.32.1;
            }

            # private1-d-eqiad
            subnet 10.64.48.0 netmask 255.255.252.0 {
                option broadcast-address 10.64.51.255;
                option routers 10.64.48.1;
            }
        }

        group {
            option subnet-mask 255.255.255.0;

            # private1-e1-eqiad
            subnet 10.64.130.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.130.255;
                option routers 10.64.130.1;
            }

            # private1-e2-eqiad
            subnet 10.64.131.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.131.255;
                option routers 10.64.131.1;
            }

            # private1-e3-eqiad
            subnet 10.64.132.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.132.255;
                option routers 10.64.132.1;
            }

            # private1-e4-eqiad
            subnet 10.64.133.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.133.255;
                option routers 10.64.133.1;
            }

            # private1-f1-eqiad
            subnet 10.64.134.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.134.255;
                option routers 10.64.134.1;
            }

            # private1-f2-eqiad
            subnet 10.64.135.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.135.255;
                option routers 10.64.135.1;
            }

            # private1-f3-eqiad
            subnet 10.64.136.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.136.255;
                option routers 10.64.136.1;
            }

            # private1-f4-eqiad
            subnet 10.64.137.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.137.255;
                option routers 10.64.137.1;
            }

            # labs-hosts1-a-eqiad subnet
            subnet 10.64.4.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.4.255;
                option routers 10.64.4.1;
            }

            # cloud-hosts1-eqiad subnet
            subnet 10.64.20.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.20.255;
                option routers 10.64.20.1;
            }

            # labs-support1-c-eqiad subnet
            subnet 10.64.37.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.37.255;
                option routers 10.64.37.1;
            }

            # analytics1-a-eqiad subnet
            subnet 10.64.5.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.5.255;
                option routers 10.64.5.1;
            }

            # analytics1-b-eqiad subnet
            subnet 10.64.21.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.21.255;
                option routers 10.64.21.1;
            }

            # analytics1-c-eqiad subnet
            subnet 10.64.36.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.36.255;
                option routers 10.64.36.1;
            }

            # analytics1-d-eqiad subnet
            subnet 10.64.53.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.53.255;
                option routers 10.64.53.1;
            }

            # analytics1-e1-eqiad
            subnet 10.64.138.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.138.255;
                option routers 10.64.138.1;
            }

            # analytics1-e2-eqiad
            subnet 10.64.139.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.139.255;
                option routers 10.64.139.1;
            }

            # analytics1-e3-eqiad
            subnet 10.64.140.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.140.255;
                option routers 10.64.140.1;
            }

            # analytics1-e4-eqiad
            subnet 10.64.141.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.141.255;
                option routers 10.64.141.1;
            }

            # analytics1-f1-eqiad
            subnet 10.64.142.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.142.255;
                option routers 10.64.142.1;
            }

            # analytics1-f2-eqiad
            subnet 10.64.143.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.143.255;
                option routers 10.64.143.1;
            }

            # analytics1-f3-eqiad
            subnet 10.64.144.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.144.255;
                option routers 10.64.144.1;
            }

            # analytics1-f4-eqiad
            subnet 10.64.145.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.145.255;
                option routers 10.64.145.1;
            }

            # cloud-hosts1-e4-eqiad
            subnet 10.64.148.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.148.255;
                option routers 10.64.148.1;
            }

            # cloud-hosts1-f4-eqiad
            subnet 10.64.149.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.149.255;
                option routers 10.64.149.1;
            }

            # cloud-hosts1-d5-eqiad
            subnet 10.64.150.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.150.255;
                option routers 10.64.150.1;
            }

            # cloud-hosts1-c8-eqiad
            subnet 10.64.151.0 netmask 255.255.255.0 {
                option broadcast-address 10.64.151.255;
                option routers 10.64.151.1;
            }
        }
    }
}
#
# esams
#

group {
    next-server <%= @tftp_servers["esams"] %>;

    # public1-bw27-esams subnet
    subnet 185.15.59.0 netmask 255.255.255.224 {
        option subnet-mask 255.255.255.224;
        option broadcast-address 185.15.59.31;
        option routers 185.15.59.1;
        option domain-name "wikimedia.org";
    }

    # public1-by27-esams subnet
    subnet 185.15.59.32 netmask 255.255.255.224 {
        option subnet-mask 255.255.255.224;
        option broadcast-address 185.15.59.63;
        option routers 185.15.59.33;
        option domain-name "wikimedia.org";
    }

    # private1-bw27-esams subnet
    subnet 10.80.0.0 netmask 255.255.255.0 {
        option subnet-mask 255.255.255.0;
        option broadcast-address 10.80.0.255;
        option routers 10.80.0.1;
        option domain-name "esams.wmnet";
    }

    # private1-by27-esams subnet
    subnet 10.80.1.0 netmask 255.255.255.0 {
        option subnet-mask 255.255.255.0;
        option broadcast-address 10.80.1.255;
        option routers 10.80.1.1;
        option domain-name "esams.wmnet";
    }

}

#
# ulsfo
#

group {
    next-server <%= @tftp_servers["ulsfo"] %>;

    # public1-ulsfo subnet
    subnet 198.35.26.0 netmask 255.255.255.240 {
        option subnet-mask 255.255.255.240;
        option broadcast-address 198.35.26.15;
        option routers 198.35.26.1;
        option domain-name "wikimedia.org";
    }

    # private1-ulsfo subnet
    subnet 10.128.0.0 netmask 255.255.255.0 {
        option subnet-mask 255.255.255.0;
        option broadcast-address 10.128.0.255;
        option routers 10.128.0.1;
        option domain-name "ulsfo.wmnet";
    }
}

#
# eqsin
#

group {
    next-server <%= @tftp_servers["eqsin"] %>;

    # public1-eqsin subnet
    subnet 103.102.166.0 netmask 255.255.255.240 {
        option subnet-mask 255.255.255.240;
        option broadcast-address 103.102.166.15;
        option routers 103.102.166.1;
        option domain-name "wikimedia.org";
    }

    # private1-eqsin subnet
    subnet 10.132.0.0 netmask 255.255.255.0 {
        option subnet-mask 255.255.255.0;
        option broadcast-address 10.132.0.255;
        option routers 10.132.0.1;
        option domain-name "eqsin.wmnet";
    }
}

#
# drmrs
#

group {
    next-server <%= @tftp_servers["drmrs"] %>;

    # Public subnets
    group {
        option domain-name "wikimedia.org";
        option subnet-mask 255.255.255.224;

        # public1-b12-drmrs subnet
        subnet 185.15.58.0 netmask 255.255.255.224 {
            option broadcast-address 185.15.58.31;
            option routers 185.15.58.1;
        }

        # public1-b13-drmrs subnet
        subnet 185.15.58.32 netmask 255.255.255.224 {
            option broadcast-address 185.15.58.63;
            option routers 185.15.58.33;
        }
    }

    # Private subnets
    group {
        option domain-name "drmrs.wmnet";
        option subnet-mask 255.255.255.0;

        # private1-b12-drmrs subnet
        subnet 10.136.0.0 netmask 255.255.255.0 {
            option broadcast-address 10.136.0.255;
            option routers 10.136.0.1;
        }

        # private1-b13-drmrs subnet
        subnet 10.136.1.0 netmask 255.255.255.0 {
            option broadcast-address 10.136.1.255;
            option routers 10.136.1.1;
        }
    }
}

#
# Linux installation hosts
#
group {
    vendor-option-space pxelinux;
    option root-path "/tftpboot/";

    filename "lpxelinux.0";
    option pxelinux.pathprefix "http://apt.wikimedia.org/tftpboot/bullseye-installer/";

    # Dells & HPEs
    group {
        option pxelinux.configfile "pxelinux.cfg/ttyS1-115200";
        # This is an automation include proxy.
        include "/etc/dhcp/automation/proxies/ttyS1-115200.conf";
    }

    # VMs
    group {
        option pxelinux.configfile "pxelinux.cfg/ttyS0-115200";
        # This is an automation include proxy.
        include "/etc/dhcp/automation/proxies/ttyS0-115200.conf";
    }
}

#
# ZTP classes
#
class "juniper" {
    match if (substring(lcase(option vendor-class-identifier), 0, 7) = "juniper");
    vendor-option-space juniper;
    option juniper.config-file-name "ztp-juniper.sh";
}

# Additional automated includes happen via this proxy.
include "/etc/dhcp/automation.conf";
