<%#- SPDX-License-Identifier: Apache-2.0 -%>
{
	"title": "Etherpad",
	"favicon": "favicon.ico",
	"skinName": "colibris",
	"skinVariants": "super-light-toolbar super-light-editor light-background",
	"ip": "<%= @etherpad_ip %>",
	"port": <%= @etherpad_port %>,

	"dbType": "mysql",
	"dbSettings": {
		"user": "<%= @etherpad_db_user %>",
		"host": "<%= @etherpad_db_host %>",
		"password": "<%= @etherpad_db_pass %>",
		"database": "<%= @etherpad_db_name %>",
		"charset": "utf8mb4"
	},

	"defaultPadText": "Welcome to the WMF Etherpad installation. Please keep in mind all current as well as past content in any pad is public. Removing content from a pad does not mean it is deleted. Keep in mind as well that there is no guarantee that a pad's contents will always be available. A pad may be corrupted, deleted or similar. Please keep a copy of important data somewhere else as well. Note that Wikimedia Code of Conduct (https://www.mediawiki.org/wiki/Code_of_Conduct) applies in this Etherpad instance as well",
	"padOptions": {
	    "noColors": false,
	    "showControls": true,
	    "showChat": true,
	    "showLineNumbers": true,
	    "useMonospaceFont": false,
	    "userName": false,
	    "userColor": false,
	    "rtl": false,
	    "alwaysShowChat": false,
	    "chatAndUsers": false,
	    "lang": "en-gb"
	},
	"suppressErrorsInPadText" : false,
	"requireSession" : false,
	"editOnly" : false,
	"sessionNoPassword" : false,
	"minify": true,
	"maxAge" : 21600, // 60 * 60 * 6 = 6 hours
	"abiword": null,
	"tidyHtml" : null,
	"allowUnknownFileEnds" : false,
	"requireAuthentication": false,
	"requireAuthorization": false,
	"log_x_client_ip" : true, // This is a WMF etherpad lite customization. Patch is in gerrit
	"disableIPlogging" : false,
	"socketTransportProtocols" : ["xhr-polling", "jsonp-polling", "htmlfile"],
	// T265490
	"commitRateLimiting": {
	  // duration of the rate limit window (seconds)
	  "duration": 1,
	  // maximum number of changes per IP to allow during the rate limit window
	  "points": 100
	},
	"loadTest": false,
	"toolbar": {
	  "left": [
	    ["bold", "italic", "underline", "strikethrough"],
	    ["orderedlist", "unorderedlist", "indent", "outdent"],
	    ["undo", "redo"],
	    ["clearauthorship"]
	  ],
	  "right": [
	    ["importexport", "timeslider", "savedrevision"],
	    ["settings", "embed"],
	    ["showusers"]
	  ],
	  "timeslider": [
	    ["timeslider_export", "timeslider_returnToPad"]
	  ]
	},
	/*
	* Pad Shortcut Keys
	*/
	"padShortcutEnabled" : {
	  "altF9":     true, /* focus on the File Menu and/or editbar */
	  "altC":      true, /* focus on the Chat window */
	  "cmdShift2": true, /* shows a gritter popup showing a line author */
	  "delete":    true,
	  "return":    true,
	  "esc":       true, /* in mozilla versions 14-19 avoid reconnecting pad */
	  "cmdS":      true, /* save a revision */
	  "tab":       true, /* indent */
	  "cmdZ":      true, /* undo/redo */
	  "cmdY":      true, /* redo */
	  "cmdI":      true, /* italic */
	  "cmdB":      true, /* bold */
	  "cmdU":      true, /* underline */
	  "cmd5":      true, /* strike through */
	  "cmdShiftL": true, /* unordered list */
	  "cmdShiftN": true, /* ordered list */
	  "cmdShift1": true, /* ordered list */
	  "cmdShiftC": true, /* clear authorship */
	  "cmdH":      true, /* backspace */
	  "ctrlHome":  true, /* scroll to top of pad */
	  "pageUp":    true,
	  "pageDown":  true
	},
	"loglevel": "INFO",
	"logconfig" : {
	  "appenders": [
		        { "type": "file",
		          "filename": "/var/log/etherpad-lite/etherpad-lite.log"
			}
		  ]
	}
}
