<%#- SPDX-License-Identifier: Apache-2.0 -%>
[Unit]
Description=FIFO log demultiplexer (instance %i)
Documentation=https://github.com/wikimedia/operations-software-fifo-log-demux
<% if @wanted_by -%>
BindsTo=<%= @wanted_by %>
After=<%= @wanted_by %>
<% end -%>

[Service]
Restart=always
User=<%= @user %>
ExecStart=/usr/bin/fifo-log-demux -log-fifo <%= @fifo %> -socket <%= @socket %>

[Install]
<% if @wanted_by -%>
WantedBy=<%= @wanted_by %>
<% elsif @required_by -%>
RequiredBy=<%= @required_by %>
<% end -%>
