# SPDX-License-Identifier: Apache-2.0
ceph_pool: <%= @ceph_vm_pool %>
exclude_servers:
  admin:
    - ".*"
  admin-monitoring:
    - ".*"
  cloudvirt-canary:
    - ".*"
  codesearch:
    - ".*"
  deployment-prep:
    - "^.*snapshot0.*$"
    - "^deployment-docker.*$"
    - "^deployment-elastic.*$"
    - "^deployment-mediawiki-.*"
    - "^deployment-mwmaint.*"
  dumps:
    # negative lookahead, maybe we should use an include_servers too
    - "^(?!dumps-0).*"
  extdist:
    - ".*"
  integration:
    - "^integration-agent.*$"
    - "^integration-castor04.*$"
  mwoffliner:
    - ".*"
  paws:
    - "^paws-k8s-worker.*$"
  recommendation-api:
    - "^.*-test.*$"
    - "^.*-prototype.*$"
    - "^.*-build.*$"
  sre-sandbox:
    - ".*"
  tools:
    - "^.*worker.*$"
    - "^.*etcd.*$"
    - "^tools-sgeexec-.*$"
    - "^.*sgewebgrid-lighttpd.*$"
  toolsbeta:
    - ".*"
  transferpy-test:
    - ".*"
  video:
    - "encoding.*$"
  wikidata-query:
    - "^wcqs-beta-01$"
  wikiwho:
    # these use localdisc
    - "^wikiwho-api.*$"
  wmf-research-tools:
    - "^.*-test.*$"
    - "^.*-prototype.*$"
    - "^.*-build.*$"

project_assignments:
  ALLOTHERS: cloudbackup1004
  admin: ignore
  analytics: cloudbackup1003
  clouddb-services: ignore
  cloudinfra-nfs: ignore
  cloudinfra: cloudbackup1003
  cyberbot: cloudbackup1003
  deployment-prep: cloudbackup1003
  devtools: cloudbackup1003
  download: cloudbackup1003
  dumps: cloudbackup1004
  dwl: cloudbackup1003
  ign2commons: cloudbackup1003
  integration: cloudbackup1003
  language: cloudbackup1003
  maps: cloudbackup1003
  metricsinfra: cloudbackup1003
  monitoring: cloudbackup1003
  mwoffliner: cloudbackup1003
  ores: cloudbackup1003
  packaging: cloudbackup1003
  paws: cloudbackup1003
  recommendation-api: cloudbackup1004
  tools: cloudbackup1004
  wikidata-dev: cloudbackup1003
  wikidata-query: cloudbackup1003
  wikidumpparse: cloudbackup1003
  wikitextexp: cloudbackup1003
  wmde-dashboards: cloudbackup1003
  wmf-research-tools: cloudbackup1003
  wmflabsdotorg: ignore
  testlabs: ignore

live_for_days: 5
