# SPDX-License-Identifier: Apache-2.0
ceph_pool: <%= @ceph_volume_pool %>
live_for_days: 7

exclude_volumes:
  cloudinfra-nfs:
    - scratch
  admin-monitoring:
    - ".*"
  video:
    - ".*"
# T300160
  maps:
    - ".*"
  dumps:
    - ".*"

project_assignments:
  ALLOTHERS: cloudbackup2001
  tools: cloudbackup2002
  clouddb-services: cloudbackup2002
