<%#- SPDX-License-Identifier: Apache-2.0 -%>
{
  "Debug": true,
  "ListenAddress": "localhost:3000",
  "EnableSyslog": true,
  "AuditToSyslog": true,

  "AuthenticationMethod": "proxy",
  "AuthUserHeader": "X-Cas-Uid",
<%#- Tip: It uses shell names, not LDAP cns -%>
  "PowerAuthUsers": [
    "kormat",
    "marostegui",
    "ladsgroup",
    "jynus"
  ],

<% if @db_backend == 'mysql' -%>
  "BackendDB": "mysql",
  "MySQLOrchestratorHost": "<%= @db_backend_host %>",
  "MySQLOrchestratorPort": <%= @db_backend_port %>,
  "MySQLOrchestratorDatabase": "<%= @db_backend_database %>",
  "MySQLOrchestratorCredentialsConfigFile": "/etc/mysql/orchestrator_srv.cnf",
  "MySQLOrchestratorSSLCAFile": "/etc/ssl/certs/Puppet_Internal_CA.pem",
<% elsif @db_backend == 'sqlite' -%>
  "BackendDB": "sqlite",
  "SQLite3DataFile": "/var/lib/orchestrator/orchestrator.db",
<% end -%>

  "MySQLTopologyCredentialsConfigFile": "/etc/mysql/orchestrator_topo.cnf",
  "MySQLTopologyUseMutualTLS": true,
  "MySQLTopologySSLCAFile": "/etc/ssl/certs/Puppet_Internal_CA.pem",
  "InstancePollSeconds": 5,
  "MySQLConnectTimeoutSeconds": 1,
  "HostnameResolveMethod": "cname",
  "MysqlHostnameResolveMethod": "@@report_host",
  "DiscoverByShowSlaveHosts": true,
  "DiscoveryIgnoreHostnameFilters": [
    "^labsdb"
   ],

  "CandidateInstanceExpireMinutes": 60,
  "FailureDetectionPeriodBlockMinutes": 60,
  "FailMasterPromotionOnLagMinutes": 0,
  "PreventCrossDataCenterMasterFailover": true,
  "DelayMasterPromotionIfSQLThreadNotUpToDate": true,
  "MasterFailoverDetachReplicaMasterHost": true,
  "RecoveryPeriodBlockSeconds": 10800,
  "RecoverMasterClusterFilters":[
    "test-s4"
  ],
  "RecoverIntermediateMasterClusterFilters":[
    "test-s4"
  ],
  "ReasonableMaintenanceReplicationLagSeconds": 5,
  "PromotionIgnoreHostnameFilters": [
    "^clouddb",
    "^db115[45]\\.",
    "^db218[67]\\.",
    "^dbstore"
   ],
   "ReplicationLagQuery": "SELECT ROUND(GREATEST(0, TIME_TO_SEC(TIMEDIFF(UTC_TIMESTAMP(6) - 0.5, ts)))) FROM heartbeat.heartbeat WHERE ts>0 ORDER BY ts ASC LIMIT 1",

  "DetectClusterAliasQuery": "SELECT shard FROM heartbeat.heartbeat ORDER BY ts DESC LIMIT 1",
  "DetectDataCenterQuery": "SELECT @@wsrep_cluster_name"
}
