#!/bin/bash

set -e
set -u

trap 'reporterr' ERR

reporterr() {
  echo "⚠️  Something went wrong!  Maybe you attempted to rewrite history?"
  echo "You can't rebase or commit --amend in this repo.  If you tried that,"
  echo "perform the repair steps under = What NOT to do = in the README."
}

# Refresh the local copy
su -c 'cd /var/lib/git/operations/private && git pull' gitpuppet

# Now refresh the other masters
<%-
@servers.each do |frontend, workers|
  workers.each do |workerhash|
      # Do not clone to myself
      if workerhash['worker'] == @fqdn then next end
  dir = workerhash['worker'].start_with?('puppetmaster') ? '/srv/private' : '/srv/git/private'
-%>
su -c "export GIT_SSH=/srv/private/.git/ssh_wrapper.sh ; git push ssh://<%= workerhash['worker'] %><%= dir %> master" gitpuppet
<%- end -%>
<%- end -%>

# Finally, announce this change
git log --pretty=format:'From %H %cd%nFrom: %ae%nTo: ops@wikimedia.org%nDate: %ad%nSubject: [puppet-private] (%h) %s%n%b%n' -1 --name-status | sendmail -i ops@wikimedia.org
