<%#- SPDX-License-Identifier: Apache-2.0 -%>
# THIS FILE IS MANAGED BY PUPPET
# vim: filetype=apache

<VirtualHost *:80>
    ServerAdmin noc@wikimedia.org

    ServerName noc.wikimedia.org

    DocumentRoot /srv/mediawiki/docroot/noc

    RewriteEngine On
    RewriteRule   ^/~(.+) https://people.wikimedia.org/~$1  [R=301,L]
    RewriteRule   ^/dbtree(.*)$ https://dbtree.wikimedia.org [R=301,L]

    # This domain is expected to show current cluster information.
    # Disable unconditional client-side caching, and shorten server-side
    # caching to just 1 minute. This does not mean browsers and cache proxies
    # re-download responses every time, they are still able to store responses
    # And use E-Tag/If-None-Match/304 to validate stored responses (T202734)
    Header set Cache-Control "s-maxage=60, must-revalidate, max-age=0"

    # This domain contains only public information that should be consumable
    # by other domains. This is needed to let the WikimediaDebug browser extension
    # read the list of debug servers.
    Header set Access-Control-Allow-Origin "*"

    ErrorLog /var/log/apache2/error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog /var/log/apache2/access.log wmf

    # Backwards compatibility: allow reaching the db configuration jsons from the web.
    RewriteRule ^/dbconfig/(.+)\.json$ /dbconfig.php [L]
    # serve the files from php if they don't exists
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-f
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-d
    RewriteRule ^/conf/.* /conf/fileserve.php [L]

    <Directory />
        AllowOverride None
        Require all granted
    </Directory>

    <Directory /srv/mediawiki/docroot/noc/conf>
        AddDefaultCharset utf-8
    </Directory>
</VirtualHost>
