# SPDX-License-Identifier: Apache-2.0
- name: default
  also_notifies: []
  attributes: {}
  description: Pool for pdns backing designate
  id: 794ccc2c-d751-44fe-b57f-8894c9f5c842
  nameservers:
<% @pdns_hosts.each do |pdns_host| -%>
  - host: <%= scope.function_ipresolve([pdns_host]) %>
    port: 53
<% end -%>
  ns_records:
<% @pdns_hosts.sort.each do |hostname| -%>
  - hostname: <%= hostname %>.
    priority: 10
<% end -%>
  targets:
<% @pdns_hosts.each do |pdns_host| -%>
  - masters:
<% @designate_host_ips.sort.each do |host_ip| -%>
    - host: <%= host_ip %>
      port: 5354
<% end -%>
    options:
      api_endpoint: http://<%= scope.function_ipresolve([pdns_host]) %>:8081
      api_token: <%= @pdns_api_key %>
      host: <%= scope.function_ipresolve([pdns_host]) %>
      port: '53'
    type: pdns4
<% end -%>
