[client]
port   = 3306
socket = <%= @socket %>

[mysql]
default-character-set = utf8mb4

[mysqld]

user       = mysql
socket     = <%= @socket %>
port       = 3306
basedir    = <%= @basedir %>
datadir    = <%= @datadir %>
tmpdir     = <%= @tmpdir %>
server_id  = <%= @server_id %>
read_only  = <%= @read_only %>

# gtid_domain_id flag is needed for multisource replication and GTID.
# Strictly it is only needed on masters or servers that can potentially be
# masters but for consistency it should be set in all of them.
# https://mariadb.com/kb/en/mariadb/gtid/
gtid_domain_id  = <%= @gtid_domain_id %>

# Not needed after 10.4.3
# enable socket authentication
plugin-load = unix_socket=auth_socket.so

log_bin                 = /srv/labsdb/binlogs/log
log_bin_index           = /srv/labsdb/binlogs/log.index
log_slave_updates

skip-external-locking
skip-name-resolve
temp-pool

character-set-server           = utf8mb4
collation-server               = utf8mb4_unicode_ci

secure_file_priv               = /dev/null
max_connections                = 1024
max_connect_errors             = 1000000000
max_allowed_packet             = 32M
connect_timeout                = 5
query_cache_size               = 0
query_cache_type               = 0
event_scheduler                = 1
log-warnings                   = 0
thread_stack                   = 192K
thread_cache_size              = 128
interactive_timeout            = 28800
wait_timeout                   = 600

binlog_cache_size              = 1M
max_binlog_size                = 100M
binlog_format                  = <%= @binlog_format %>
expire_logs_days               = 14
slave_transaction_retries      = 4294967295

table_open_cache               = 5000
table_definition_cache         = 4000

default-storage-engine         = InnoDB
innodb_file_per_table          = 1
innodb_buffer_pool_size        = <%= (Float(@memorysize.split[0]) * 0.5).round %>G
innodb_log_file_size           = 128M
innodb_flush_log_at_trx_commit = 2 # Slightly less safe, but more performant
innodb_flush_method            = O_DIRECT
innodb_io_capacity             = 1000
innodb_stats_method            = nulls_unequal
# max_user_connections set for T216170
max_user_connections = 20

innodb_strict_mode             = 1

# Enable innodb_large_prefix
# These variables can be removed after we upgrade to MariaDB 10.4 (T301949).
innodb_file_format = Barracuda
innodb_large_prefix = 1

<% if @kernelversion < "3.19" %>
# Until kernel 3.16 http://www.spinics.net/lists/stable/msg61873.html
# At least, I think so. For now we need to avoid the an assertion failure on Trusty w/ 3.13
innodb_use_native_aio          = 0
innodb_read_io_threads         = 16
innodb_write_io_threads        = 8
<% end %>
<% if @ssl == 'on' or @ssl == 'puppet-cert' %>
# ssl
ssl-ca=/etc/ssl/certs/Puppet_Internal_CA.pem
ssl-cert=/etc/mysql/ssl/cert.pem
ssl-key=/etc/mysql/ssl/server.key
ssl-cipher=TLSv1.2
<% end %>

# dump and load innodb buffer at start and stop
innodb_buffer_pool_load_at_startup  = 1
innodb_buffer_pool_dump_at_shutdown = 1

<% if @p_s == 'on' %>
# Enabling performance_schema (disabled by default in MariaDB10)
performance_schema                                     = 1
# downsizing performance schema memory usage: T99485
performance_schema_digests_size                        = -1
performance_schema_max_thread_instances                = 500
performance_schema_max_cond_instances                  = 1000
performance_schema_accounts_size                       = 300
performance_schema_hosts_size                          = 300
performance_schema_events_statements_history_size      = 10
performance_schema_events_statements_history_long_size = 1000
performance_schema_events_waits_history_size           = 10
performance_schema_events_waits_history_long_size      = 1000
performance_schema_events_stages_history_size          = 10
performance_schema_events_stages_history_long_size     = 1000
performance_schema_max_mutex_instances                 = 5000
performance_schema_max_rwlock_instances                = 2000
performance_schema_max_socket_instances                = 500
performance_schema_max_table_instances                 = 1000
<% else %>
# only enable userstat if p_s is disabled
performance_schema                                     = 0
userstat                                               = 1
<% end %>

[mysqldump]

quick
max_allowed_packet = 32M

#!includedir /etc/mysql/conf.d/
