# This file is managed by puppet!
# Package generated configuration file
# See the sshd_config(5) manpage for details

# What ports, IPs and protocols we listen for
<%- @listen_ports.each do |port| -%>
Port <%= port %>
<%- end -%>
<%- unless @listen_addresses.empty? -%>
    <%- @listen_addresses.each do |listen| -%>
ListenAddress <%= listen %>
    <%- end -%>
<%- else -%>
# Use these options to restrict which interfaces/protocols sshd will bind to
#ListenAddress ::
#ListenAddress 0.0.0.0
<%- end -%>
Protocol 2
# HostKeys for protocol version 2
<%- @key_types.each do |type| -%>
HostKey /etc/ssh/ssh_host_<%= type %>_key
  <%- if @ssh_ca_key_available or @host_certs.length > 0 -%>
HostCertificate /etc/ssh/ssh_host_<%= type %>_key-cert.pub
  <%- end -%>
<%- end -%>
<%- if @trusted_user_ca_keys.length > 0 -%>
TrustedUserCAKeys /etc/ssh/trusted_user_ca_keys.pub
  <%- if @authorized_principals_file -%>
AuthorizedPrincipalsFile <%= @authorized_principals_file %>
  <%- end -%>
<%- end -%>

<%- if @disable_nist_kex -%>
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
<%- end -%>

# Logging
SyslogFacility AUTH
LogLevel VERBOSE

# Authentication:
LoginGraceTime 120
PermitRootLogin <%= @_permit_root %>

<%- if @explicit_macs -%>
# Message Authentication codes
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com
<%- end -%>

StrictModes yes

Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr

PubkeyAuthentication yes
<%- if @authorized_keys_file.length > 0 -%>
AuthorizedKeysFile	<%= @authorized_keys_file.join(' ') %>
<%- end -%>

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts yes

<%- if @enable_hba -%>
HostbasedAuthentication yes
HostbasedUsesNameFromPacketOnly no

# matching entries shosts.equiv requires a reverse DNS lookup
UseDNS yes
<%- else -%>
HostbasedAuthentication no
<%- end -%>
IgnoreUserKnownHosts yes

# To enable empty passwords, change to yes (NOT RECOMMENDED)
PermitEmptyPasswords no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication <%= @challenge_response_auth ? 'yes': 'no' %>

# Globally deny logon via password, only allow SSH-key login.
PasswordAuthentication no

<%- if @disable_agent_forwarding -%>
# Don't allow people to forward their agents either.
AllowAgentForwarding no
<%- end -%>

# GSSAPIAuthentication off by default, GSSAPICleanupCredentials enabled by default
<%- if @enable_kerberos -%>
GSSAPIAuthentication yes
<%- end -%>

X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes
#UseLogin no

<%- if @ssh_tcp_forwarding then -%>
AllowTcpForwarding <%= @ssh_tcp_forwarding %>
<%- end -%>

<%- if @gateway_ports -%>
# Allow remote hosts to connect to ports forwarded by the client
GatewayPorts yes
<%- end -%>
<%- if @max_sessions -%>
MaxSessions <%= @max_sessions %>
<%- end -%>
<%- if @max_startups -%>
MaxStartups <%= @max_startups %>
<%- end -%>
#Banner /etc/issue.net

<%- unless @accept_env.empty? -%>
AcceptEnv <%= @accept_env.join(' ') %>
<%- end -%>

Subsystem sftp /usr/lib/openssh/sftp-server

UsePAM yes

<%- if @authorized_keys_command and @authorized_keys_command_user -%>
AuthorizedKeysCommand <%= @authorized_keys_command %>
AuthorizedKeysCommandUser <%= @authorized_keys_command_user %>
<%- end -%>
##
## Anything below this point must start with a match declaration
## or will only apply to the previous Matches above.
##
<%- @match_config.each do |match| -%>
Match <%= match['criteria'] %> <%= match['patterns'].join(',') %>
  <%- match['config'].each_pair do |item, value| -%>
  <%= item %> <%= value %>
  <%- end -%>
<%- end -%>
