<% if @server_vols -%>
# A list of 'private' volumes hosted on this server. In this case,
# 'private' means they have specific exports rather than just being
# visible to anyone who wants to attach.
volumes_served:
  <% @server_vols.each do |vol| -%>
  - <%= vol %>
  <% end %>
<% end -%>

<% if @host_scratch -%>
# A list of 'public' volumes hosted on this server. Public volumes
# have permissive exports that let anyone attach.
public:
  scratch: '/srv/scratch *(rw,sec=sys,sync,no_subtree_check,root_squash)'
<% end -%>

# Configuration per wmcs project.
# Most mounts are specified as
#
#  mountname: hostname:/path/to/volume/on/server
#
# Where 'mountname' is hardcoded terminology referring
# to specific NFS use cases in the cloud. This data
# is consumed by both server and client, so on any given
# server there will be a lot more information in this section
# than the specific server needs.
#
# Note that 'dumps' is a special case handled by totally
# different code paths.
private:
  cvn:
    gid: 50116
    mounts:
      project: cvn-nfs.svc.cvn.eqiad1.wikimedia.cloud:/srv/cvn/project
  dumps:
    gid: 50124
    mounts:
      dumps: true
      home: dumps-nfs.svc.dumps.eqiad1.wikimedia.cloud:/srv/dumps/home
      project: dumps-nfs.svc.dumps.eqiad1.wikimedia.cloud:/srv/dumps/project
      scratch: scratch.svc.cloudinfra-nfs.eqiad1.wikimedia.cloud:/srv/scratch
  dump-references-processor:
    gid: 55368
    mounts:
      dumps: true  # T333549
  puppet-diffs:
    gid: 53809
    mounts:
      project: puppet-diffs-nfs.svc.puppet-diffs.eqiad1.wikimedia.cloud:/srv/puppet-diffs/project
  etytree:  # T151933
    gid: 53231
    mounts:
      dumps: true
  fastcci:
    gid: 50983
    mounts:
      home: fastcci-nfs.svc.fastcci.eqiad1.wikimedia.cloud:/srv/fastcci/home
      project: fastcci-nfs.svc.fastcci.eqiad1.wikimedia.cloud:/srv/fastcci/project
  glamwikidashboard: # T338063
    gid: 55232
    mounts:
      dumps: true
  gratitude:  # T240737
    gid: 54032
    mounts:
      dumps: true
  huggle:
    gid: 50168
    mounts:
      home: huggle-nfs.svc.huggle.eqiad1.wikimedia.cloud:/srv/huggle/home
      project: huggle-nfs.svc.huggle.eqiad1.wikimedia.cloud:/srv/huggle/project
  language:  # T242187
    gid: 50794
    mounts:
      scratch: scratch.svc.cloudinfra-nfs.eqiad1.wikimedia.cloud:/srv/scratch
  maps:
    gid: 50196
    mounts:
      dumps: true
      scratch: scratch.svc.cloudinfra-nfs.eqiad1.wikimedia.cloud:/srv/scratch
      maps: maps-nfs.svc.maps.eqiad1.wikimedia.cloud:/srv/maps
  math:  # T134026
    gid: 50398
    mounts:
      project: math-nfs.svc.math.eqiad1.wikimedia.cloud:/srv/math/project
      scratch: scratch.svc.cloudinfra-nfs.eqiad1.wikimedia.cloud:/srv/scratch
      dumps: true
  mwoffliner:
    gid: 52376
    mounts:
      scratch: scratch.svc.cloudinfra-nfs.eqiad1.wikimedia.cloud:/srv/scratch
  ores-staging:  # T252204
    gid: 52938
    mounts:
      dumps: true
  osmit:  # T156586
    gid: 51933
    mounts:
      dumps: true
  paws:  # T219077
    gid: 52863
    mounts:
      dumps: true
      scratch: scratch.svc.cloudinfra-nfs.eqiad1.wikimedia.cloud:/srv/scratch
      home: paws-nfs.svc.paws.eqiad1.wikimedia.cloud:/srv/paws/home
      project: paws-nfs.svc.paws.eqiad1.wikimedia.cloud:/srv/paws/project
  qrank:
    gid: 54946
    mounts:
      dumps: true
  quarry:
    gid: 52243
    mounts:
      project: quarry-nfs.svc.quarry.eqiad1.wikimedia.cloud:/srv/quarry/project
  research-collaborations-api:  # T286635
    gid: 54650
    mounts:
      dumps: true
  recommendation-api:  # T244166
    gid: 53150
    mounts:
      dumps: true
  soweego:  # T209818
    gid: 53892
    mounts:
      dumps: true
  spi-tools: # T279555
    gid: 54698
    mounts:
      dumps: true
  testlabs:
    gid: 50302
    mounts:
      dumps: true
      home: testlabs-nfs.svc.testlabs.eqiad1.wikimedia.cloud:/srv/testlabs//home
      project: testlabs-nfs.svc.testlabs.eqiad1.wikimedia.cloud:/srv/testlabs//project
      scratch: scratch.svc.cloudinfra-nfs.eqiad1.wikimedia.cloud:/srv/scratch
  text-to-speech:
    gid: 55141
    mounts:
      dumps: true
  tools:
    gid: 50380
    mounts:
      dumps: true
      scratch: scratch.svc.cloudinfra-nfs.eqiad1.wikimedia.cloud:/srv/scratch
      tools-home: tools-nfs.svc.tools.eqiad1.wikimedia.cloud:/srv/tools/home
      tools-project: tools-nfs.svc.tools.eqiad1.wikimedia.cloud:/srv/tools/project
  toolsbeta:
    gid: 50610
    mounts:
      dumps: true
      toolsbeta-home: toolsbeta-nfs.svc.toolsbeta.eqiad1.wikimedia.cloud:/srv/toolsbeta/misc/shared/toolsbeta/home/
      toolsbeta-project: toolsbeta-nfs.svc.toolsbeta.eqiad1.wikimedia.cloud:/srv/toolsbeta/misc/shared/toolsbeta/project
      scratch: scratch.svc.cloudinfra-nfs.eqiad1.wikimedia.cloud:/srv/scratch
  tools-codfw1dev:
    gid: 52918
    mounts:
      dumps: true
  twl:
    gid: 52777
    mounts:
      project: twl-nfs.svc.twl.eqiad1.wikimedia.cloud:/srv/twl/project
  video:
    gid: 52318
    mounts:
      dumps: true
      home: video-nfs.svc.video.eqiad1.wikimedia.cloud:/srv/video/home
      project: video-nfs.svc.video.eqiad1.wikimedia.cloud:/srv/video/project
      scratch: scratch.svc.cloudinfra-nfs.eqiad1.wikimedia.cloud:/srv/scratch
  wcdo:  # T228450
    gid: 53693
    mounts:
      dumps: true
  wikidata-query:  # T128815, T135205
    gid: 52354
    mounts:
      scratch: scratch.svc.cloudinfra-nfs.eqiad1.wikimedia.cloud:/srv/scratch
      dumps: true
  wikidumpparse:
    gid: 51824
    mounts:
      dumps: true
      home: wikidumpparse-nfs.svc.wikidumpparse.eqiad1.wikimedia.cloud:/srv/wikidumpparse/home
      project: wikidumpparse-nfs.svc.wikidumpparse.eqiad1.wikimedia.cloud:/srv/wikidumpparse/project
      scratch: scratch.svc.cloudinfra-nfs.eqiad1.wikimedia.cloud:/srv/scratch
  wikicommunityhealth:  # T279558
    gid: 54564
    mounts:
      dumps: true
