<%#- SPDX-License-Identifier: Apache-2.0 -%>
type: 'snapshot'
rotate: True
retention: 5
archive: False
compress: True
stats_file: '/etc/wmfbackups/statistics.cnf'
sections:
  s1:
    host: 'db2141.codfw.wmnet'
    port: 3311
    destination: 'dbprov2001.codfw.wmnet'
    stop_slave: True
    order: 2
  s2:
    host: 'db2097.codfw.wmnet'
    port: 3312
    destination: 'dbprov2004.codfw.wmnet'
    order: 8
  s3:
    host: 'db2139.codfw.wmnet'
    port: 3313
    destination: 'dbprov2001.codfw.wmnet'
    stop_slave: True
    order: 4
  s4:
    host: 'db2099.codfw.wmnet'
    port: 3314
    destination: 'dbprov2003.codfw.wmnet'
    stop_slave: True
    order: 3
  s5:
    host: 'db2101.codfw.wmnet'
    port: 3315
    destination: 'dbprov2003.codfw.wmnet'
    order: 5
  s6:
    host: 'db2097.codfw.wmnet'
    port: 3316
    destination: 'dbprov2004.codfw.wmnet'
    order: 7
  s7:
    host: 'db2098.codfw.wmnet'
    port: 3317
    destination: 'dbprov2002.codfw.wmnet'
    order: 6
  s8:
    host: 'db2098.codfw.wmnet'
    port: 3318
    destination: 'dbprov2002.codfw.wmnet'
    stop_slave: True
    order: 1
  x1:
    host: 'db2097.codfw.wmnet'
    port: 3320
    destination: 'dbprov2004.codfw.wmnet'
    order: 9
