<%#- SPDX-License-Identifier: Apache-2.0 -%>
user: '<%= @user %>'
password: '<%= @password %>'
rotate: True
compress: False
archive: False
retention: 18
stats_file: '/etc/wmfbackups/statistics.cnf'
sections:
  s7:
    host: 'db1171.eqiad.wmnet'
    port: 3317
  s8:
    host: 'db1171.eqiad.wmnet'
    port: 3318
  m1:
    host: 'db1217.eqiad.wmnet'
    port: 3321
  db_inventory:
    host: 'db1215.eqiad.wmnet'
  matomo:
    host: 'db1208.eqiad.wmnet'
    port: 3351
  analytics_meta:
    host: 'db1208.eqiad.wmnet'
    port: 3352
  backup1-eqiad:
    host: 'db1205.eqiad.wmnet'
