<%#- SPDX-License-Identifier: Apache-2.0 -%>
type: 'dump'
user: '<%= @user %>'
password: '<%= @password %>'
rotate: True
compress: False
archive: False
retention: 18
stats_file: '/etc/wmfbackups/statistics.cnf'
sections:
  s4:
    host: 'db2099.codfw.wmnet'
    port: 3314
  s5:
    host: 'db2101.codfw.wmnet'
    port: 3315
  m2:
    host: 'db2160.codfw.wmnet'
    port: 3322
  m3:
    host: 'db2160.codfw.wmnet'
    port: 3323
  m5:
    host: 'db2160.codfw.wmnet'
    port: 3325

