<%#- SPDX-License-Identifier: Apache-2.0 -%>
type: 'dump'
user: '<%= @user %>'
password: '<%= @password %>'
rotate: True
compress: False
archive: False
retention: 18
stats_file: '/etc/wmfbackups/statistics.cnf'
sections:
  s2:
    host: 'db2097.codfw.wmnet'
    port: 3312
  s6:
    host: 'db2097.codfw.wmnet'
    port: 3316
  x1:
    host: 'db2097.codfw.wmnet'
    port: 3320
    archive: True
