<%#- SPDX-License-Identifier: Apache-2.0 -%>
type: 'dump'
user: '<%= @user %>'
password: '<%= @password %>'
rotate: True
compress: False
archive: False
retention: 18
stats_file: '/etc/wmfbackups/statistics.cnf'
sections:
  s1:
    host: 'db2141.codfw.wmnet'
    port: 3311
  s3:
    host: 'db2139.codfw.wmnet'
    port: 3313
    archive: True
