<%#- SPDX-License-Identifier: Apache-2.0 -%>
<%-
if @interval
   opts = "-interval=#{@interval}"
else
   opts = "-watch"
end
if @name != 'main'
   # On non-main instances, we also pass:
   # * -prefix here instead of delegating it to individual confd::file definitions.
   # * -confdir to tell confd to search its definitions in the right path
   opts += " -confdir #{@path} -prefix #{@prefix}"
end
-%>
[Unit]
Description=<%= @label %>

[Service]
User=root
SyslogIdentifier=%N
Environment="CONFD_BACKEND=<%= @backend %>"
<%- if @hosts -%>
Environment="CONFD_DISCOVERY=-node <%= @hosts.join(' -node ') %>"
<%- else -%>
<%- if @scheme == "https" -%>
Environment="CONFD_DISCOVERY=-srv-record _etcd-client-ssl._tcp.<%= @srv_dns %> -scheme https"
<%- else -%>
Environment="CONFD_DISCOVERY=-srv-record _etcd-client._tcp.<%= @srv_dns %>"
<%- end -%>
<%- end -%>
Environment="CONFD_OPTS=<%= opts %>"
ExecStart=/usr/bin/confd -backend $CONFD_BACKEND $CONFD_DISCOVERY $CONFD_OPTS
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
