# Note: This file is managed by puppet.

global
    chroot /var/lib/haproxy
    daemon
    group haproxy
    log /dev/log local0 notice
    stats socket <%= @socket %> mode 666 expose-fd listeners level user
    user haproxy


defaults
    log global
    maxconn 4096
    mode http
    option dontlognull
    option forceclose
    option forwardfor
    option httplog
    option redispatch
    retries 3
    timeout client 50s
    timeout connect 10s
    timeout http-request 5s
    timeout server 120s

listen stats
    bind 0.0.0.0:9900
    mode http
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
    # Explicitly avoid keep-alive to prevent Prometheus scrapers from
    # reusing indefinitelly the same TCP connection. See T343000
    http-after-response set-header Connection Close
