# variables, convert puppet vars into nft vars
define routing_source_ip   = <%= @routing_source %>
define virtual_subnet_cidr = <%= @virt_subnet %>
define nic_virt = "<%= @nic_virt %>"
define nic_wan = "<%= @nic_wan %>"

# single table for everything
table inet cloudgw {
    set dmz_cidr_set {
        type ipv4_addr
        flags interval
        counter
        <%- if !@actual_dmz_cidr.empty? -%>
        elements = {
        <% @actual_dmz_cidr.each do |element| -%>
            <%= element %> ,
        <% end -%>
        }
        <%- end -%>
    }

    # if required, this can be integrated with requestctl for abuse networks like in profile::firewall
    set cloud_filter {
        type ipv4_addr
        flags interval
        counter
        <%- if !@cloud_filter.empty? -%>
        elements = {
        <% @cloud_filter.each do |element| -%>
            <%= element %> ,
        <% end -%>
        }
        <%- end -%>
    }

    chain prerouting {
        type nat hook prerouting priority dstnat; policy accept;
    }

    chain postrouting {
        type nat hook postrouting priority srcnat; policy accept;

        # 'accept' in this chain/hook means: don't do NAT
        # we are only interested in NAT for traffic leaving from the virtual network
        # check the packet is flowing virt --> wan
        oifname != $nic_wan counter accept
        # check the packet uses virt addressing
        ip saddr != $virtual_subnet_cidr counter accept

        ip daddr @dmz_cidr_set counter accept comment "dmz_cidr"
        counter snat ip to $routing_source_ip comment "routing_source_ip"
    }

    chain forward {
        type filter hook forward priority filter; policy drop;
        # general cloud perimetral firewall
        # drop here traffic before the general VRF accept below
        ip saddr @cloud_filter counter drop
        ip daddr @cloud_filter counter drop

        # only forward packets in the VRF
        iifname "vrf-cloudgw" oifname { $nic_virt, $nic_wan } counter accept
        counter comment "counter dropped packets"
    }
}
