#####################################################################
##### THIS FILE IS MANAGED BY PUPPET
#####  as template('base/puppet.conf.d/10-main.conf.erb')
######################################################################

[main]
logdir = /var/log/puppet
vardir = /var/lib/puppet
ssldir = /var/lib/puppet/ssl
rundir = /var/run/puppet
factpath = $vardir/lib/facter

[agent]
<%- if @use_srv_records -%>
use_srv_records = true
srv_domain = <%= @srv_domain %>
<%- else -%>
server = <%= @server %>
  <%- unless @ca_server.nil? -%>
ca_server = <%= @ca_server %>
  <%- end -%>
<%- end -%>
<%- unless @certificate_revocation.nil? -%>
certificate_revocation = <%= @certificate_revocation %>
<%- end -%>
<%- unless @certname.nil? -%>
certname = <%= @certname %>
<%- end -%>
<%- unless @dns_alt_names.empty? -%>
dns_alt_names = <%= @dns_alt_names.join(',') %>
<%- end -%>
daemonize = false
http_connect_timeout = 60
http_read_timeout = 960
usecacheonfailure = false
splay = true
pluginsync = true
report = true
stringify_facts = false
preferred_serialization_format = <%= @serialization_format %>
<%- unless @environment.nil? -%>
environment = <%= @environment %>
<%- end -%>
<% if @manage_ca_file -%>
localcacert = <%= @ca_file_path %>
<% end -%>
