<%#- SPDX-License-Identifier: Apache-2.0 -%>
Host restricted.bastion.wmcloud.org bastion-restricted-eqiad1-02.bastion.eqiad1.wikimedia.cloud bastion.bastioninfra-codfw1dev.codfw1dev.wmcloud.org bastion-codfw1dev-02.bastioninfra-codfw1dev.codfw1dev.wikimedia.cloud
    ProxyCommand nc -X connect -x webproxy:8080 %h %p
    # Set it to none so that it doesn't get set in the next sections
    ProxyJump none

Host *.eqiad1.wmflabs.org *.eqiad1.wmcloud.org *.eqiad1.toolforge.org *.eqiad1.wmflabs *.eqiad1.wikimedia.cloud
    ProxyJump restricted.bastion.wmcloud.org

Host *.codfw1dev.wmflabs.org *.codfw1dev.wmcloud.org *.codfw1dev.toolforge.org *.codfw1dev.wmflabs *.codfw1dev.wikimedia.cloud
    ProxyJump bastion.bastioninfra-codfw1dev.codfw1dev.wmcloud.org

Host *.wmflabs.org *.wmcloud.org *.toolforge.org *.wmflabs *.wikimedia.cloud
    IdentityFile /etc/keyholder.d/cumin_openstack_master
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    GlobalKnownHostsFile /dev/null
    LogLevel QUIET
    # In case there is no Openstack deployment name in the FQDN, use the eqiad1 one.
    ProxyJump restricted.bastion.wmcloud.org

Host *.wmnet *.wikimedia.org
    # IdentityFile can be specified multiple times
    IdentityFile /etc/keyholder.d/cloud_cumin_master

Host *
    IdentitiesOnly yes
    User root
    BatchMode yes
    StrictHostKeyChecking yes
    UserKnownHostsFile /dev/null
    # Note: do not set ConnectTimeout here, because Cumin will ignore it.
    # Instead use clustershell.connect_timeout in /etc/cumin/config.yaml
