transport: clustershell
log_file: <%= @cumin_log_path %>/cumin-installer.log
default_backend: direct

puppetdb:
    host: <%= @puppetdb_host %>
    port: 443
    api_version: 4
    urllib3_disable_warnings:
      - SubjectAltNameWarning  # Temporary fix for T158757

clustershell:
    connect_timeout: <%= @cumin_connect_timeout %>
    ssh_options:
        - '-o BatchMode=yes'
        - '-o StrictHostKeyChecking=no'
        - '-o UserKnownHostsFile=/dev/null'
        - '-o GlobalKnownHostsFile=/dev/null'
        - '-o LogLevel=QUIET'
        - '-4'
        - '-i /root/.ssh/new_install'
