# Apache configuration for graphite.wikimedia.org
# This file is managed by Puppet.
<VirtualHost *:80>
    ServerName <%= @hostname %>
    DocumentRoot "/usr/share/graphite-web"
    <Location />
        Require all granted
<%= @apache_auth -%>

        # uWSGI reverse-proxy
        uWSGIsocket /run/uwsgi/graphite-web.sock
        uWSGIForceWSGIScheme https
        uWSGImaxVars 192
        SetHandler uwsgi-handler
    </Location>

    Alias /static/ /usr/share/graphite-web/static/
    <Location "/static/">
        SetHandler None
    </Location>

    <Location ~ "/(render|metrics|events/get_data)">
        Satisfy Any
        Allow from all
    </Location>

</VirtualHost>
