-- haproxy
CREATE USER 'haproxy'@'10.64.134.16';
CREATE USER 'haproxy'@'10.64.32.180';
CREATE USER 'haproxy'@'10.192.48.47';

-- parsoid testing database 'testreduce' --

-- > dbproxy1027
CREATE USER 'testreduce'@'10.64.134.16'
IDENTIFIED BY '<%= @testreduce_pass %>';

GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce`.* TO 'testreduce'@'10.64.134.16';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_0715`.* TO 'testreduce'@'10.64.134.16';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_vd`.* TO 'testreduce'@'10.64.134.16';

-- > dbproxy1021
CREATE USER 'testreduce'@'10.64.32.180'
IDENTIFIED BY '<%= @testreduce_pass %>';

GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce`.* TO 'testreduce'@'10.64.32.180';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_0715`.* TO 'testreduce'@'10.64.32.180';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_vd`.* TO 'testreduce'@'10.64.32.180';

-- > dbproxy2004
CREATE USER 'testreduce'@'10.192.48.47'
IDENTIFIED BY '<%= @testreduce_pass %>';

GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce`.* TO 'testreduce'@'10.192.48.47';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_0715`.* TO 'testreduce'@'10.192.48.47';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_vd`.* TO 'testreduce'@'10.192.48.47';


-- > dbproxy1027 command line access for ssastry
CREATE USER 'ssastry'@'10.64.134.16'
IDENTIFIED BY '<%= @testreduce_cli_pass %>';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_0715`.* TO 'ssastry'@'10.64.134.16';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_vd`.* TO 'ssastry'@'10.64.134.16';

-- > dbproxy1021 command line access for ssastry
CREATE USER 'ssastry'@'10.64.32.180'
IDENTIFIED BY '<%= @testreduce_cli_pass %>';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_0715`.* TO 'ssastry'@'10.64.32.180';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_vd`.* TO 'ssastry'@'10.64.32.180';

-- > dbproxy2004 command line access for ssastry
CREATE USER 'ssastry'@'10.192.48.47'
IDENTIFIED BY '<%= @testreduce_cli_pass %>';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_0715`.* TO 'ssastry'@'10.192.48.47';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_vd`.* TO 'ssastry'@'10.192.48.47';

-- > scandium
CREATE USER 'testreduce'@'10.64.48.94'
IDENTIFIED BY '<%= @testreduce_pass %>';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce`.* TO 'testreduce'@'10.64.48.94';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_0715`.* TO 'testreduce'@'10.64.48.94';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_vd`.* TO 'testreduce'@'10.64.48.94';

-- > scandium command line access for ssastry
CREATE USER 'ssastry'@'10.64.48.94'
IDENTIFIED BY '<%= @testreduce_cli_pass %>';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_0715`.* TO 'ssastry'@'10.64.48.94';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_vd`.* TO 'ssastry'@'10.64.48.94';

-- > testreduce1001
CREATE USER 'testreduce'@'10.64.48.40'
IDENTIFIED BY '<%= @testreduce_pass %>';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce`.* TO 'testreduce'@'10.64.48.40';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_0715`.* TO 'testreduce'@'10.64.48.40';
GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, ALTER,
      CREATE TEMPORARY TABLES
ON `testreduce_vd`.* TO 'testreduce'@'10.64.48.40';

-- > testreduce1001 command line access for ssastry
CREATE USER 'ssastry'@'10.64.48.40'
IDENTIFIED BY '<%= @testreduce_cli_pass %>';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_0715`.* TO 'ssastry'@'10.64.48.40';
GRANT SELECT, INSERT, UPDATE, DELETE, ALTER
ON `testreduce_vd`.* TO 'ssastry'@'10.64.48.40';

-- labsdbaccounts user

GRANT ALL ON labsdbaccounts.* TO 'labsdbaccounts'@'10.64.37.19'
IDENTIFIED BY '<%= @labsdbaccounts_pass %>';

GRANT ALL ON labsdbaccounts.* TO 'labsdbaccounts'@'10.64.37.20'
IDENTIFIED BY '<%= @labsdbaccounts_pass %>';

-- dbproxy1027
GRANT ALL ON labsdbaccounts.* TO 'labsdbaccounts'@'10.64.134.16'
IDENTIFIED BY '<%= @labsdbaccounts_pass %>';

-- dbproxy1021
GRANT ALL ON labsdbaccounts.* TO 'labsdbaccounts'@'10.64.32.180'
IDENTIFIED BY '<%= @labsdbaccounts_pass %>';

-- dbproxy2004
GRANT ALL ON labsdbaccounts.* TO 'labsdbaccounts'@'10.192.48.47'
IDENTIFIED BY '<%= @labsdbaccounts_pass %>';

-- mailman3 databases T278614 from lists1001.wikimedia.org.
GRANT ALL ON mailman3.* TO 'mailman3'@'208.80.154.31' IDENTIFIED BY '<%= @mailman3_pass %>';
GRANT ALL ON mailman3web.* TO 'mailman3web'@'208.80.154.31' IDENTIFIED BY '<%= @mailman3web_pass %>';
-- mailman3 from eqiad and codfw proxies
-- dbproxy1027
GRANT ALL ON mailman3.* TO 'mailman3'@'10.64.134.16' IDENTIFIED BY '<%= @mailman3_pass %>';
GRANT ALL ON mailman3web.* TO 'mailman3web'@'10.64.134.16' IDENTIFIED BY '<%= @mailman3web_pass %>';
-- dbproxy1021
GRANT ALL ON mailman3.* TO 'mailman3'@'10.64.32.180' IDENTIFIED BY '<%= @mailman3_pass %>';
GRANT ALL ON mailman3web.* TO 'mailman3web'@'10.64.32.180' IDENTIFIED BY '<%= @mailman3web_pass %>';
-- dbproxy2004
GRANT ALL ON mailman3.* TO 'mailman3'@'10.192.48.47' IDENTIFIED BY '<%= @mailman3_pass %>';
GRANT ALL ON mailman3web.* TO 'mailman3web'@'10.192.48.47' IDENTIFIED BY '<%= @mailman3web_pass %>';

-- section mapping database
GRANT SELECT ON cxserverdb.* TO 'cxserver'@'10.%' IDENTIFIED BY '<%= @cxserver_pass %>';

-- toolhub
-- Grants from the k8s Pod IPs
-- dbproxy hosts
--eqiad proxies
GRANT DELETE, INSERT, SELECT, UPDATE ON `toolhub`.* TO 'toolhub'@'10.64.134.16' IDENTIFIED BY '<%= @toolhub_pass %>';
GRANT DELETE, INSERT, SELECT, UPDATE ON `toolhub`.* TO 'toolhub'@'10.64.32.180' IDENTIFIED BY '<%= @toolhub_pass %>';
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SELECT, SHOW VIEW, TRIGGER, UPDATE ON `toolhub`.* TO 'toolhub_admin'@'10.64.134.16' IDENTIFIED BY '<%= @toolhub_admin_pass %>';
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SELECT, SHOW VIEW, TRIGGER, UPDATE ON `toolhub`.* TO 'toolhub_admin'@'10.64.32.180' IDENTIFIED BY '<%= @toolhub_admin_pass %>';
--codfw proxies
GRANT DELETE, INSERT, SELECT, UPDATE ON `toolhub`.* TO 'toolhub'@'10.192.48.47' IDENTIFIED BY '<%= @toolhub_pass %>';
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SELECT, SHOW VIEW, TRIGGER, UPDATE ON `toolhub`.* TO 'toolhub_admin'@'10.192.48.47' IDENTIFIED BY '<%= @toolhub_admin_pass %>';

-- tool_admin access from mwmaint host (to be reverted once we switch to the proxies)
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SELECT, SHOW VIEW, TRIGGER, UPDATE ON `toolhub`.* TO 'toolhub_admin'@'10.64.16.77' IDENTIFIED BY '<%= @toolhub_admin_pass %>';
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SELECT, SHOW VIEW, TRIGGER, UPDATE ON `toolhub`.* TO 'toolhub_admin'@'10.192.32.34' IDENTIFIED BY '<%= @toolhub_admin_pass %>';

-- Grants for 'striker'@'10.64.32.180'
GRANT USAGE ON *.* TO `striker`@`10.64.32.180` IDENTIFIED BY PASSWORD '<%= @striker_pass %>';
GRANT DELETE, INSERT, SELECT, UPDATE ON `striker`.* TO `striker`@`10.64.32.180`;
-- Grants for 'striker'@'10.64.134.16'
GRANT USAGE ON *.* TO `striker`@`10.64.134.16` IDENTIFIED BY PASSWORD '<%= @striker_pass %>';
GRANT DELETE, INSERT, SELECT, UPDATE ON `striker`.* TO `striker`@`10.64.134.16`;
-- Grants for 'striker'@'208.80.154.150'
GRANT USAGE ON *.* TO `striker`@`208.80.154.150` IDENTIFIED BY PASSWORD '<%= @striker_pass %>';
GRANT DELETE, INSERT, SELECT, UPDATE ON `striker`.* TO `striker`@`208.80.154.150`;
-- Grants for 'striker'@'208.80.155.117'
GRANT USAGE ON *.* TO `striker`@`208.80.155.117` IDENTIFIED BY PASSWORD '<%= @striker_pass %>';
GRANT DELETE, INSERT, SELECT, UPDATE ON `striker`.* TO `striker`@`208.80.155.117`;
-- Grants for 'striker_admin'@'10.192.48.45'
GRANT USAGE ON *.* TO `striker_admin`@`10.192.48.45` IDENTIFIED BY PASSWORD '<%= @striker_admin_pass %>';
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SELECT, SHOW VIEW, TRIGGER, UPDATE ON `striker`.* TO `striker_admin`@`10.192.48.45`;
-- Grants for 'striker_admin'@'10.64.16.77'
GRANT USAGE ON *.* TO `striker_admin`@`10.64.16.77` IDENTIFIED BY PASSWORD '<%= @striker_admin_pass %>';
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SELECT, SHOW VIEW, TRIGGER, UPDATE ON `striker`.* TO `striker_admin`@`10.64.16.77`;
-- Grants for 'striker_admin'@'10.64.32.180'
GRANT USAGE ON *.* TO `striker_admin`@`10.64.32.180` IDENTIFIED BY PASSWORD '<%= @striker_admin_pass %>';
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SELECT, SHOW VIEW, TRIGGER, UPDATE ON `striker`.* TO `striker_admin`@`10.64.32.180`;
-- Grants for 'striker_admin'@'10.64.134.16'
GRANT USAGE ON *.* TO `striker_admin`@`10.64.134.16` IDENTIFIED BY PASSWORD '<%= @striker_admin_pass %>';
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SELECT, SHOW VIEW, TRIGGER, UPDATE ON `striker`.* TO `striker_admin`@`10.64.134.16`;
-- Grants for 'striker_admin'@'208.80.154.150'
GRANT USAGE ON *.* TO `striker_admin`@`208.80.154.150` IDENTIFIED BY PASSWORD '<%= @striker_admin_pass %>';
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SELECT, SHOW VIEW, TRIGGER, UPDATE ON `striker`.* TO `striker_admin`@`208.80.154.150`;
-- Grants for 'striker_admin'@'208.80.155.117'
GRANT USAGE ON *.* TO `striker_admin`@`208.80.155.117` IDENTIFIED BY PASSWORD '<%= @striker_admin_pass %>';
GRANT ALTER, ALTER ROUTINE, CREATE, CREATE ROUTINE, CREATE TEMPORARY TABLES, CREATE VIEW, DELETE, DROP, EVENT, EXECUTE, INDEX, INSERT, LOCK TABLES, REFERENCES, SELECT, SHOW VIEW, TRIGGER, UPDATE ON `striker`.* TO `striker_admin`@`208.80.155.117`;

-- Grants for 'idm'@'10.192.48.47'
GRANT USAGE ON *.* TO `idm`@`10.192.48.47` IDENTIFIED BY PASSWORD '<%= @idm_pass %>';
GRANT ALTER, CREATE, DELETE, INDEX, INSERT, REFERENCES, SELECT, UPDATE ON `idm`.* TO `idm`@`10.192.48.47`;
-- Grants for 'idm'@'10.64.32.180'
GRANT USAGE ON *.* TO `idm`@`10.64.32.180` IDENTIFIED BY PASSWORD '<%= @idm_pass %>';
GRANT ALTER, CREATE, DELETE, INDEX, INSERT, REFERENCES, SELECT, UPDATE ON `idm`.* TO `idm`@`10.64.32.180`;
-- Grants for 'idm'@'10.64.134.16'
GRANT USAGE ON *.* TO `idm`@`10.64.134.16` IDENTIFIED BY PASSWORD '<%= @idm_pass %>';
GRANT ALTER, CREATE, DELETE, INDEX, INSERT, REFERENCES, SELECT, UPDATE ON `idm`.* TO `idm`@`10.64.134.16`;
-- Grants for 'idm_staging'@'10.192.48.47'
GRANT USAGE ON *.* TO `idm_staging`@`10.192.48.47` IDENTIFIED BY PASSWORD '<%= @idm_staging_pass %>';
GRANT ALTER, CREATE, DELETE, INDEX, INSERT, REFERENCES, SELECT, UPDATE ON `idm_staging`.* TO `idm_staging`@`10.192.48.47`;
-- Grants for 'idm_staging'@'10.64.32.180'
GRANT USAGE ON *.* TO `idm_staging`@`10.64.32.180` IDENTIFIED BY PASSWORD '<%= @idm_staging_pass %>';
GRANT ALTER, CREATE, DELETE, INDEX, INSERT, REFERENCES, SELECT, UPDATE ON `idm_staging`.* TO `idm_staging`@`10.64.32.180`;
-- Grants for 'idm_staging'@'10.64.134.16'
GRANT USAGE ON *.* TO `idm_staging`@`10.64.134.16` IDENTIFIED BY PASSWORD '<%= @idm_staging_pass %>';
GRANT ALTER, CREATE, DELETE, INDEX, INSERT, REFERENCES, SELECT, UPDATE ON `idm_staging`.* TO `idm_staging`@`10.64.134.16`;


-- Database ipoid #T305114
-- > dbproxy1027
CREATE USER 'ipoid_rw'@'10.64.134.16' IDENTIFIED BY '<%= @ipoid_rw_pass %>';
CREATE USER 'ipoid_ro'@'10.64.134.16' IDENTIFIED BY '<%= @ipoid_ro_pass %>';

GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, CREATE TEMPORARY TABLES ON `ipoid`.* TO 'ipoid_rw'@'10.64.134.16';
GRANT SELECT ON `ipoid`.* TO 'ipoid_ro'@'10.64.134.16';

-- > dbproxy1021
CREATE USER 'ipoid_rw'@'10.64.32.180' IDENTIFIED BY '<%= @ipoid_rw_pass %>';
CREATE USER 'ipoid_ro'@'10.64.32.180' IDENTIFIED BY '<%= @ipoid_ro_pass %>';

GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, CREATE TEMPORARY TABLES ON `ipoid`.* TO 'ipoid_rw'@'10.64.32.180';
GRANT SELECT ON `ipoid`.* TO 'ipoid_ro'@'10.64.32.180';

-- > dbproxy2004
CREATE USER 'ipoid_rw'@'10.192.48.47' IDENTIFIED BY '<%= @ipoid_rw_pass %>';
CREATE USER 'ipoid_ro'@'10.192.48.47' IDENTIFIED BY '<%= @ipoid_ro_pass %>';

GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, CREATE TEMPORARY TABLES ON `ipoid`.* TO 'ipoid_rw'@'10.192.48.47';
GRANT SELECT ON `ipoid`.* TO 'ipoid_ro'@'10.192.48.47';
