<%#- SPDX-License-Identifier: Apache-2.0 -%>
# Sample configuration.
# See https://prometheus.io/docs/alerting/configuration/ for documentation.

global:
  smtp_smarthost: 'localhost:25'
  smtp_from: 'sre-observability@<%= @facts["networking"]["domain"] %>'
  smtp_require_tls: false

  # Give alerts with no 'endsAt' field (e.g. librenms) a little more slack
  # See also https://phabricator.wikimedia.org/T285205
  resolve_timeout: '20m'

<% if @victorops_api_key %>
  victorops_api_key: '<%= @victorops_api_key %>'
<% end %>

# The directory from which notification templates are read.
templates:
  - '/etc/prometheus/alertmanager_templates/*.tmpl'

route:
  receiver: default
  group_by: ['alertname', 'cluster', 'scope', 'team']
  routes:
    # Log all notifications
    - receiver: 'logger'
      continue: true

    # Compat Icinga alerts are routed to a 'sink' channel
    - match_re:
        alertname: '^Icinga/.*'
      receiver: 'irc-spam'
    - match:
        source: 'icinga'
      receiver: 'irc-spam'

    # Alerts for test/dev hosts are routed to the 'sink' channel
    - match_re:
        instance: '.+-(dev|test)([0-9]+.*)?'
      receiver: 'irc-spam'

    - match_re:
        instance: 'sretest.*'
      receiver: 'irc-spam'

    - match:
        severity: 'warning'
      repeat_interval: 72h
      continue: true

    # Fundraising pingthing alerts are routed to irc #wm-operations and fr-tech@wm.o
    - match:
        instance: 'https://donate.wikimedia.org/'
        job: 'blackbox/pingthing'
      receiver: 'fr-ircmail'

    # Generic pingthing alerts are routed to irc #wm-operations and noc@wm.o
    - match:
        job: 'blackbox/pingthing'
      receiver: 'noc-ircmail'

    # Team routes
    - match:
        team: 'sre'
      routes:
        - match:
            severity: 'page'
          receiver: 'sre-page'
        - match:
            severity: 'critical'
          receiver: 'sre-irc'
    - match:
        team: 'data-engineering'
      routes:
        - match:
            severity: 'page'
          receiver: 'data-engineering-page'
          continue: true
        - match:
            severity: 'page'
          receiver: 'sre-page'
        - match:
            severity: 'critical'
          receiver: 'data-engineering-ircmail'
        - match:
            severity: 'warning'
          receiver: 'data-engineering-irc'
        - match:
            severity: 'task'
          receiver: 'data-engineering-task'
    - match:
        team: 'data-persistence'
      routes:
        - match:
            severity: 'page'
          receiver: 'sre-page'
        - match:
            severity: 'critical'
          receiver: 'data-persistence-ircmail'
        - match:
            severity: 'warning'
          receiver: 'data-persistence-irc-feed'
    - match:
        team: 'infrastructure-foundations'
      routes:
        # Send pages as normal
        - match:
            severity: 'page'
          receiver: 'sre-page'
          continue: true
        # Ensure criticals go toi #w-operations
        - match:
            severity: 'critical'
          receiver: 'sre-irc'
          continue: true
        # send everything to #w-infrastructure-foundations
        - receiver: 'infrastructure-foundations-irc'
    - match:
        team: 'serviceops-collab'
      routes:
        - match:
            severity: 'critical'
          receiver: 'serviceops-collab-critical'
        - match:
            severity: 'warning'
          receiver: 'serviceops-collab-warning'
        - match:
            severity: 'task'
          receiver: 'serviceops-collab-task'
    - match:
        team: 'dcops'
      receiver: 'dcops-mail'
      routes:
        - match:
            severity: 'task'
          # Default to #dcops project if none of the site routes match
          receiver: 'dcops-task'
          routes:
<% ["eqiad", "eqord", "codfw", "eqdfw", "esams", "knams", "ulsfo", "drmrs", "eqsin"].each do |site| -%>
            - match_re:
                instance: '^.*<%= site %>.*$'
              receiver: 'dcops-<%= site %>-task'
            - match:
                site: '<%= site %>'
              receiver: 'dcops-<%= site %>-task'
<% end -%>
    - match:
        team: 'noc'
      receiver: 'noc-ircmail'
      routes:
        - match:
            severity: 'page'
          receiver: 'sre-page'
    - match:
        team: 'netops'
      receiver: 'netops-mail'
      routes:
        - match:
            severity: 'page'
          receiver: 'sre-page'
    - match:
        team: 'peering'
      receiver: 'peering-mail'
    - match:
        team: 'perf'
      receiver: 'perf-ircmail'
      repeat_interval: '48h'
    - match:
        team: 'traffic'
      receiver: 'traffic-ircmail'
      routes:
        - match:
            severity: 'page'
          receiver: 'sre-page'
    - match:
        team: 'releng'
      receiver: 'releng-ircmail'
      routes:
        - match:
            severity: 'page'
          receiver: 'sre-page'
          continue: true
        - receiver: 'releng-ircmail'
    - match:
        team: 'rweb'
      receiver: 'rweb-mail'
    - match:
        team: 'wikidata'
      receiver: 'wikidata-mail'
    - match:
        team: 'structured-data'
      receiver: 'structured-data-mail'
    - match:
        team: 'search-platform'
      routes:
        - match:
            severity: task
          receiver: 'search-platform-task'
        - match:
            severity: page
          receiver: 'sre-page'
          continue: true
        - receiver: 'search-platform-ircmail'
    - match:
        team: 'wmcs'
      # Grouping by instance too so we create one task per alert+instance tuple
      # as sometimes it's better for handling (ex. when there's a node down alert
      # you might want one task for each node, so they can be checked individually)
      group_by: ['alertname', 'cluster', 'scope', 'instance']
      routes:
        - match:
            severity: 'page'
          receiver: 'wmcs-pagetaskircmail'
        - match:
            severity: 'task'
          receiver: 'wmcs-taskircmail'
        - match:
            severity: 'critical'
          receiver: 'wmcs-taskircmail'
        - match:
            severity: 'warning'
          receiver: 'wmcs-ircmail'
    - match:
        team: 'abstract-wikipedia'
      routes:
        - match:
            severity: 'critical'
          receiver: 'abstract-wikipedia-critical'
        - match:
            severity: 'warning'
          receiver: 'abstract-wikipedia-warning'

    # Default routing for page/critical alerts, if no team could be routed
    - match:
        severity: 'page'
      receiver: 'sre-page'
    - match:
        severity: 'critical'
      receiver: 'sre-irc'



    # Force 'default' receiver as last and catch-all child route
    - receiver: 'default'

receivers:
# alertmanager-webhook-logger endpoint
- name: 'logger'
  webhook_configs:
    - url: 'http://localhost:6725'

- name: 'default'

- name: 'irc-spam'
  webhook_configs:
    - url: 'http://<%= @active_host %>:19190/<%= @irc_channel %>'

# Team receivers. Naming convention is '<team>-<method>' where method can be irc/mail/etc, or a
# combination thereof if desired.
- name: 'sre-irc'
  webhook_configs:
    - url: 'http://<%= @active_host %>:19190/wikimedia-operations'

- name: 'sre-page'
  victorops_configs:
    - routing_key: 'sre-batphone'
  webhook_configs:
    - url: 'http://<%= @active_host %>:19190/wikimedia-operations'

- name: 'data-engineering-page'
  victorops_configs:
    - routing_key: 'analytics'
  webhook_configs:
    - url: 'http://<%= @active_host %>:19190/wikimedia-analytics'

- name: 'data-engineering-irc'
  webhook_configs:
    - url: 'http://<%= @active_host %>:19190/wikimedia-analytics'

- name: 'data-engineering-ircmail'
  webhook_configs:
    - url: 'http://<%= @active_host %>:19190/wikimedia-analytics'
  email_configs:
    - to: 'data-engineering-alerts@lists.wikimedia.org'

- name: 'data-persistence-irc'
  webhook_configs:
    - url: 'http://<%= @active_host %>:19190/wikimedia-data-persistence'

- name: 'data-persistence-irc-feed'
  webhook_configs:
    - url: 'http://<%= @active_host %>:19190/wikimedia-data-persistence-feed'

- name: 'data-persistence-ircmail'
  webhook_configs:
    - url: 'http://<%= @active_host %>:19190/wikimedia-data-persistence'
  email_configs:
    - to: 'sre-data-persistence@<%= @facts["networking"]["domain"] %>'

- name: 'infrastructure-foundations-irc'
  webhook_configs:
    - url: 'http://<%= @active_host %>:19190/wikimedia-sre-foundations'

- name: 'noc-ircmail'
  webhook_configs:
    - url: 'http://<%= @active_host %>:19190/wikimedia-operations'
  email_configs:
    - to: 'noc@<%= @facts["networking"]["domain"] %>'

- name: 'netops-mail'
  email_configs:
    - to: 'ayounsi@<%= @facts["networking"]["domain"] %>'
    - to: 'cmooney@<%= @facts["networking"]["domain"] %>'

- name: 'dcops-mail'
  email_configs:
    - to: 'datacenter-ops@<%= @facts["networking"]["domain"] %>'

- name: 'peering-mail'
  email_configs:
    - to: 'peering@<%= @facts["networking"]["domain"] %>'

- name: 'perf-ircmail'
  webhook_configs:
    - url: 'http://<%= @active_host %>:19190/wikimedia-perf-bots'
  email_configs:
    - to: 'performance-team-alert@<%= @facts["networking"]["domain"] %>'
      send_resolved: true

- name: 'rweb-mail'
  email_configs:
    - to: 'reading-web-team@lists.wikimedia.org'

- name: 'wikidata-mail'
  email_configs:
    - to: 'wikidata-monitoring@wikimedia.de'
      send_resolved: true

- name: 'structured-data-mail'
  email_configs:
    - to: 'sd-alerts@lists.wikimedia.org'

- name: 'releng-ircmail'
  webhook_configs:
    - url: 'http://<%= @active_host %>:19190/wikimedia-releng'
  email_configs:
    - to: 'releng@lists.wikimedia.org'

- name: 'traffic-ircmail'
  webhook_configs:
    - url: 'http://<%= @active_host %>:19190/wikimedia-traffic'
  email_configs:
    - to: 'sre-traffic@<%= @facts["networking"]["domain"] %>'

- name: 'search-platform-ircmail'
  webhook_configs:
    - url: 'http://<%= @active_host %>:19190/wikimedia-operations'
  email_configs:
    - to: 'discovery-alerts@lists.wikimedia.org'

- name: 'wmcs-ircmail'
  webhook_configs:
    - url: 'http://<%= @active_host %>:19190/wikimedia-cloud-feed'
  email_configs:
    - to: 'cloud-admin-feed@<%= @facts["networking"]["domain"] %>'

- name: 'wmcs-pagetaskircmail'
  victorops_configs:
    - routing_key: 'wmcs'
  webhook_configs:
    # #wmcs tag, cloud-services-team is deprecated in favor of this one
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-d3h5oaspnvdwfjklmivl'
      send_resolved: false
    - url: 'http://<%= @active_host %>:19190/wikimedia-cloud-feed'
  email_configs:
    - to: 'cloud-admin-feed@<%= @facts["networking"]["domain"] %>'

# Receivers to open Phabricator tasks. Naming convention is '<team-and-subteam>-task'
- name: 'sre-o11y-task'
  webhook_configs:
    # #observability
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-dwtj3e5mikntyhdbnohb'
      send_resolved: false

- name: 'sre-task'
  webhook_configs:
    # #SRE
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-5hj6ygnanfu23mmnlvmd'
      send_resolved: false

- name: 'netops-task'
  webhook_configs:
    # #netops
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-h2zjwfqqi5cxjonrkfa7'
      send_resolved: false

- name: 'data-engineering-task'
  webhook_configs:
    # #data-engineering
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-gsfmtborh6beh6xj5lz6'
      send_resolved: false

- name: 'serviceops-collab-warning'
  webhook_configs:
    # #serviceops mail & IRC
    - url: 'http://<%= @active_host %>:19190/wikimedia-sre-collab'
  email_configs:
    - to: 'sre-service-ops-collab@<%= @facts["networking"]["domain"] %>'

- name: 'serviceops-collab-critical'
  webhook_configs:
    # #serviceops-collab task & mail & IRC
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-pjhy3ymh5pitgp2jflcb'
      send_resolved: false
    - url: 'http://<%= @active_host %>:19190/wikimedia-sre-collab'
  email_configs:
    - to: 'sre-service-ops-collab@<%= @facts["networking"]["domain"] %>'

- name: 'serviceops-collab-task'
  webhook_configs:
    # #serviceops-collab task & IRC
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-pjhy3ymh5pitgp2jflcb'
      send_resolved: false
    - url: 'http://<%= @active_host %>:19190/wikimedia-sre-collab'
    - url: 'http://<%= @active_host %>:19190/wikimedia-operations'

- name: 'sre-collab-releng-critical'
  webhook_configs:
    # sre-collab x releng - task, IRC, (mail) for both teams
    # single URL, multiple phids = one ticket with multiple tags.
    # multiple URLs = multiple tickets
    # PHID-PROJ-pjhy3ymh5pitgp2jflcb = https://phabricator.wikimedia.org/tag/serviceops-collab/
    # PHID-PROJ-uier7rukzszoewbhj7ja = https://phabricator.wikimedia.org/tag/release-engineering-team/
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-pjhy3ymh5pitgp2jflcb&phid=PHID-PROJ-uier7rukzszoewbhj7ja'
      send_resolved: false
    - url: 'http://<%= @active_host %>:19190/wikimedia-sre-collab'
    - url: 'http://<%= @active_host %>:19190/wikimedia-operations'
    - url: 'http://<%= @active_host %>:19190/wikimedia-releng'
  email_configs:
    - to: 'releng@lists.wikimedia.org'

- name: 'dcops-task'
  webhook_configs:
    # #dcops
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-guqp46cxa2rgti2tqgv5'
      send_resolved: false

- name: 'dcops-eqiad-task'
  webhook_configs:
    # #ops-eqiad
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-wr7jlgkb5qk5ykssqwn7'
      send_resolved: false

- name: 'dcops-codfw-task'
  webhook_configs:
    # #ops-codfw
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-heihjeaiasruuvneirzh'
      send_resolved: false

- name: 'dcops-esams-task'
  webhook_configs:
    # #ops-esams
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-yyw3x6n3sdjeyzq3xbmo'
      send_resolved: false

- name: 'dcops-ulsfo-task'
  webhook_configs:
    # #ops-ulsfo
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-zisfzcctzc5kqyal5mcq'
      send_resolved: false

- name: 'dcops-eqsin-task'
  webhook_configs:
    # #ops-eqsin
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-7ooh7jsiccviqsicgfzy'
      send_resolved: false

- name: 'dcops-drmrs-task'
  webhook_configs:
    # #ops-drmrs
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-2p7htqghb5al4xwyb2nj'
      send_resolved: false

- name: 'dcops-eqord-task'
  webhook_configs:
    # #ops-eqord
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-5lcm6o3fjplvaqf4epr6'
      send_resolved: false

- name: 'dcops-eqdfw-task'
  webhook_configs:
    # #ops-eqdfw
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-xjetsywotsnrlml3xpok'
      send_resolved: false

- name: 'dcops-knams-task'
  webhook_configs:
    # #ops-esams (no ops-knams project)
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-yyw3x6n3sdjeyzq3xbmo'
      send_resolved: false

- name: 'search-platform-task'
  webhook_configs:
    # #discovery-search
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-bhjb6gromuy5lppbjsut'
      send_resolved: false

- name: 'wmcs-taskircmail'
  webhook_configs:
    # #wmcs tag, cloud-services-team is deprecated in favor of this one
    # title={{groupLabels.alertname}} {{groupLabels.instance}} {{commonAnnotations.description}}
    - url: 'http://localhost:8292/alerts?phid=PHID-PROJ-d3h5oaspnvdwfjklmivl&title=%7B%7BgroupLabels.alertname%7D%7D%20%7B%7BgroupLabels.instance%7D%7D%20%7B%7BcommonAnnotations.description%7D%7D'
      send_resolved: false
    - url: 'http://<%= @active_host %>:19190/wikimedia-cloud-feed'
  email_configs:
    - to: 'cloud-admin-feed@<%= @facts["networking"]["domain"] %>'

- name: 'fr-ircmail'
  webhook_configs:
    - url: 'http://<%= @active_host %>:19190/wikimedia-operations'
  email_configs:
    - to: 'fr-tech@<%= @facts["networking"]["domain"] %>'

- name: 'abstract-wikipedia-warning'
  webhook_configs:
    # #abstract wikipedia team IRC & Slack
    - url: 'http://<%= @active_host %>:19190/wikipedia-abstract-alerts'
  email_configs:
    - to: 'aw-alerts-aaaahdftahushqrqpyfzzvrm3q@<%= @facts["networking"]["domain"] %>.slack.com'
      send_resolved: true

- name: 'abstract-wikipedia-critical'
  webhook_configs:
    # #abstract wikipedia team IRC & Slack
    - url: 'http://<%= @active_host %>:19190/wikipedia-abstract-alerts'
  email_configs:
    - to: 'aw-alerts-aaaahdftahushqrqpyfzzvrm3q@<%= @facts["networking"]["domain"] %>.slack.com'
      send_resolved: true


inhibit_rules:
  # When ICMP has failed, inhibit TCP/UDP/HTTP since we know they can't
  # work
  - source_match_re:
      module: '^icmp_.*'
    target_match_re:
      module: '^(tcp|udp|http)_.*'
    equal:
      - 'alertname'
      - 'instance'
      - 'site'

  # Ditto for TCP, inhibit HTTP when the former has failed
  - source_match_re:
      module: '^tcp_.*'
    target_match_re:
      module: '^http_.*'
    equal:
      - 'alertname'
      - 'instance'
      - 'site'

  # Inhibit warnings when there's a matching alert at critical
  - source_match:
      severity: 'critical'
    target_match:
      severity: 'warning'
    equal:
      - 'alertname'
      - 'job'
      - 'instance'
      - 'site'

