<%#- SPDX-License-Identifier: Apache-2.0 -%>

# This file is managed by puppet - don't edit it locally!
#
# PowerDNS configuration file
# Written on 2011/04/20 by Ryan Lane <rlane@wikimedia.org>

# https://doc.powerdns.com/3/authoritative/settings/
# https://doc.powerdns.com/3/authoritative/performance/

# increase the default number of tcp connections (10)
max-tcp-connections=512

# Always bind to specific addresses - pdns complains when using INADDR_ANY.
# Change this to the external interface address
local-address=<%= @listen_on.join(' ') %>
query-local-address=<%= scope.call_function('dnsquery::a', [@query_local_address])[0] %>

default-soa-content=<%= @default_soa_content %>

receiver-threads=8
distributor-threads=4

cache-ttl=60
query-cache-ttl=180
negquery-cache-ttl=30

# If just geobackend is used, multithreading is unnecessary,
# and may even impact performance.
#distributor-threads=1

# Master for allowing AXFRs
master=no
slave=yes

# Running privileged is unnecessary
setgid=pdns
setuid=pdns

# Logging
logging-facility=6
loglevel=6
query-logging=no
log-dns-details=no

# Backends to load
launch=gmysql
gmysql-host=<%= @pdns_db_host %>
gmysql-user=pdns
gmysql-dbname=pdns
gmysql-password=<%= @pdns_db_password %>

<% if @dns_webserver then %>
webserver=yes
api=yes
api-key=<%= @dns_api_key %>
webserver-address=<%= @ipaddress %>
webserver-allow-from=<%- @dns_api_allow_from.each do |entry| -%><%= entry -%>,<%- end -%>

# This is not actually used by designate but it's handy for troubleshooting to diff
#  the axfr from pdns vs. mdns
allow-axfr-ips=<%- @dns_api_allow_from.each do |entry| -%><%= entry -%>,<%- end -%>
<% end %>
