<%#- SPDX-License-Identifier: Apache-2.0 -%>
#####################################################################
### THIS FILE IS MANAGED BY PUPPET
#####################################################################
# vim: filetype=apache


<VirtualHost *:80>
    ServerName <%= @service_hostname %>
    ServerAdmin noc@wikimedia.org

    RewriteEngine on
    RewriteRule ^/(.*)$ https://<%= @service_hostname %>/$1 [L,R=301]
</VirtualHost>

<VirtualHost *:443>
    ServerName <%= @service_hostname %>
    ServerAlias <%= @discovery_name %>
    ServerAdmin noc@wikimedia.org

    SSLEngine on
    SSLCertificateFile <%= @ssl_paths['cert'] %>
    SSLCertificateChainFile <%= @ssl_paths['chain'] %>
    SSLCertificateKeyFile <%= @ssl_paths['key'] %>
    <%= @ssl_settings.join("\n    ") %>

    <%- if @authentication_provider == 'oidc' -%>
    RewriteEngine on
    RewriteRule ^/login/(.*)$ https://<%= @service_hostname %>/oauth/login/cas/
    <%- end -%>

    # CSP headers - T296356
    Header always set Content-Security-Policy "default-src 'self'; style-src 'unsafe-inline' 'self'; script-src 'unsafe-inline' 'self'; img-src 'self' data:;"

    # https://httpoxy.org/
    RequestHeader unset Proxy early

    ProxyPreserveHost On

    RequestHeader set "X-Forwarded-Proto" expr=%{REQUEST_SCHEME}
    RequestHeader set "X-Forwarded-SSL" expr=%{HTTPS}

    Alias /static /srv/deployment/netbox/deploy/src/netbox/static

    # Needed to allow token-based API authentication
    WSGIPassAuthorization on

    <Directory /srv/deployment/netbox/deploy/src/netbox/static>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride None
        Require all granted
    </Directory>

    <Location /static>
        ProxyPass !
    </Location>

    # Prevent public access while allowing access to the internal endpoints for monitoring
    <Location "/metrics">
        Require expr %{HTTP_HOST} != '<%= @service_hostname %>'
    </Location>

    <%- if @swift_auth_url -%>
    # Proxy swift image store temporary URLs.
    # FIXME update for other site(s) that frontend runs on once we figure out syncing.
    # TODO: we should use profile::netbox::swift_auth_url below (but its currently https)
    ProxyPassMatch ^(/v1/AUTH_netbox/<%= @swift_container %>/.*) http://swift.svc.eqiad.wmnet$1
    <Location /v1/AUTH_netbox/>
       # We strip Content-disposition to make images viewable, since swift sets this header.
       Header unset Content-Disposition
    </Location>
    <%- end -%>

    <%- if @port -%>
    ProxyPass / http://127.0.0.1:<%= @port %>/ disablereuse=on
    ProxyPassReverse / http://127.0.0.1:<%= @port %>/
    <%- else -%>
    ProxyPass / http://127.0.0.1:8001/ disablereuse=on
    ProxyPassReverse / http://127.0.0.1:8001/
    <%- end -%>

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn
    CustomLog /var/log/apache2/<%= @service_hostname %>-access.log wmf
    ErrorLog /var/log/apache2/<%= @service_hostname %>-error.log

</VirtualHost>
